---
layout: default
title: home
description: Veterinarian, research, data, epi, design, also other things; this is my website
image: https://tteoh.com/images/favicon/quaver-avatar.png
---

{% for post in paginator.posts %}
  <div class="posts">
    <h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
  <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
    {{ post.content | split:'<!--break-->' | first }}
      {% if post.content contains '<!--break-->' %}
        <a class="read-more" href="{{ post.url }}"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> read more</a>
      {% endif %}
  </div>
  <hr>
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small> Older</a>
  {% else %}
    <span class="pagination-item older"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small> Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small></span>
  {% endif %}
</div>
