<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "home" %}
      {{ site.title }} &middot; {{ site.tagline }}
      {% if paginator.page == 1 %}
      {% else %}
        ({{ paginator.page }}/{{ paginator.total_pages }})
      {% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/tteoh.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}images/favicon/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% if page.description == "" %}
  {% else %}
  <!-- OpenGraph -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@tteoh" />

  <meta name="og:url" content="{{ post.url }}">
  <meta name="og:type" content="website" />
  <meta name="og:title" content="{{ page.title }}" />
  <meta name="og:description" content="{{ page.description }}" />
  <meta name="og:image" content="{{ page.image }}" />
  {% endif %}

</head>
