<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.url == site.baseurl %}checked{% endif %}>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div align="center">
      <img src="{{ site.baseurl }}images/favicon/android-chrome-192x192.png">
    </div>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"><span class="glyphicon glyphicon-tteoh-{{ node.title }}" aria-hidden="true"></span> {{ node.title }}</span></a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <span class="sidebar-nav-item">
      <a href="mailto:me@tteoh.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> &middot; <a href="{{ site.baseurl }}atom.xml"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></a>
    </span>

</div>
